@charset "UTF-8";
@font-face {
  font-family: "montserrat";
  src: url("fonts/Montserrat/Montserrat-bold.ttf") format("ttf");
}
@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "devonshire";
  src: url("fonts/Devonshire-FontZillion/devonshire-regular.ttf");
}
@font-face {
  font-family: "croissant";
  src: url("fonts/Croissant-One-FontZillion/croissantone-regular.ttf");
}
@font-face {
  font-family: "schola";
  src: url("fonts/TeXGyreSchola-FontZillion/texgyreschola-regular.otf");
}
@font-face {
  font-family: "dancing";
  src: url("fonts/Dancing_Script/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "segoe";
  src: url("fonts/Segoe-print/SegoePrint.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("fonts/Kaushan-Script-FontZillion/kaushanscript-regular.ttf");
}
/*valeurs des La note enchantée*/
/*valeurs des Le chic à la française*/
/*valeurs des Le délice des papilles*/
/*valeurs des La palette du goût*/
/*Oh My Food*/
/*polices*/
a {
  text-decoration: none;
}

h1 {
  background-color: #569c87;
  color: #fdca45;
  font-family: Arial;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
h1:hover {
  cursor: pointer;
}

.next__bouton {
  display: block;
  height: 100%;
  width: 150px;
  margin: auto;
  background-color: #569c87;
  text-align: center;
  color: #fdca45;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  font-family: Arial, Sans;
  font-size: 1.3em;
  text-decoration: none;
}
.next__bouton:hover {
  cursor: pointer;
}

html {
  background-color: #eaeaea;
}

body {
  background-color: white;
  width: 70%;
  margin: auto;
  max-width: 900px;
  box-shadow: 0 0 10px #c8c8c8;
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #569c87;
  padding: 20px;
  margin: 30px 0 0 0;
}
.main-footer > a {
  color: #fdca45;
  font-family: Arial, Sans;
  font-size: 1em;
  text-decoration: none;
}

.accueil-prev {
  margin-bottom: 10px;
}

.accueil-prev__ligne {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  .accueil-prev__ligne {
    flex-direction: column;
    align-items: center;
  }
}

.accueil-prev__carte {
  box-shadow: 0 0 10px #c8c8c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 250px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.accueil-prev__carte:hover {
  cursor: pointer;
}
.accueil-prev__carte--note {
  background-color: #fcdeda;
}
.accueil-prev__carte--chic {
  background-color: #fff5fe;
}
.accueil-prev__carte--delice {
  background-color: #f9f9f9;
}
.accueil-prev__carte--palette {
  background-color: #fdfffd;
}
@media screen and (max-width: 600px) {
  .accueil-prev__carte {
    width: 90%;
  }
}

.accueil-prev__titre {
  font-size: 1.5em;
  font-weight: 500;
}
.accueil-prev__titre--note {
  font-family: "devonshire";
  background: -webkit-linear-gradient(0deg, #3d1318, #3d1318);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil-prev__titre--chic {
  font-family: "croissant";
  background: -webkit-linear-gradient(290deg, #c67411, #8f5afe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil-prev__titre--delice {
  font-family: "dancing";
  background: -webkit-linear-gradient(0deg, #0128dd, #5caefa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil-prev__titre--palette {
  font-family: "kaushan";
  background: -webkit-linear-gradient(0deg, #3d9239, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil-prev__titre--chic {
  font-size: 1.2em;
}

.accueil-prev__texte {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0px;
}
.accueil-prev__texte--note {
  font-family: "segoe";
  color: #3d1318;
}
.accueil-prev__texte--chic {
  font-family: "schola";
  color: #c67411;
}
.accueil-prev__texte--delice {
  font-family: "segoe";
  color: #0128dd;
}
.accueil-prev__texte--palette {
  font-family: "segoe";
  color: #3d9239;
}
.accueil-prev__texte--note {
  text-transform: uppercase;
}
.accueil-prev__texte--delice {
  color: #0787fb;
}
.accueil-prev__texte--palette {
  color: #72bf55;
}

.accueil__image--note {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-carte__header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-size: 2em;
}

.menu-carte {
  margin: 20px 5% 20px 5%;
  padding: 40px 40px 80px 40px;
  box-shadow: 0 0 10px #c8c8c8;
}
.menu-carte--note {
  background-color: #fcdeda;
}
.menu-carte--chic {
  background-color: #fff5fe;
}
.menu-carte--delice {
  background-color: #f9f9f9;
}
.menu-carte--palette {
  background-color: #fdfffd;
}
@media screen and (max-width: 600px) {
  .menu-carte {
    padding: 10px 10px 50px 10px;
  }
}
.menu-carte--note {
  padding-top: 80px;
}

.menu-carte__titre {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.7em;
  font-weight: 500;
}
.menu-carte__titre--note {
  font-family: "devonshire";
  background: -webkit-linear-gradient(0deg, #3d1318, #3d1318);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-carte__titre--chic {
  font-family: "croissant";
  background: -webkit-linear-gradient(290deg, #c67411, #8f5afe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-carte__titre--delice {
  font-family: "dancing";
  background: -webkit-linear-gradient(0deg, #0128dd, #5caefa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-carte__titre--palette {
  font-family: "kaushan";
  background: -webkit-linear-gradient(0deg, #3d9239, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-carte__titre--note {
  margin: 0;
}
.menu-carte__titre--chic {
  font-size: 1.9em;
}
.menu-carte__titre--delice {
  font-size: 3.5em;
}
.menu-carte__titre--palette {
  font-size: 3.5em;
}

.menu-carte__conteneur--note {
  font-family: "segoe";
  color: #3d1318;
}
.menu-carte__conteneur--chic {
  font-family: "schola";
  color: #c67411;
}
.menu-carte__conteneur--delice {
  font-family: "segoe";
  color: #0128dd;
}
.menu-carte__conteneur--palette {
  font-family: "segoe";
  color: #3d9239;
}
.menu-carte__conteneur h4 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 1.4em;
}
.menu-carte__conteneur div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 0.7em;
}
.menu-carte__conteneur div p:nth-child(1) {
  width: 100%;
  text-align: left;
  padding-right: 20px;
  margin: 10px 0 0px 0;
}
.menu-carte__conteneur div p:nth-child(2) {
  text-align: right;
  font-weight: bold;
  margin: 10px 0 0px 0;
}
.menu-carte__conteneur--note {
  font-size: 1.2em;
}
.menu-carte__conteneur--chic {
  font-size: 1.1em;
  font-weight: 400;
}
.menu-carte__conteneur--delice {
  color: black;
  font-size: 1em;
  font-weight: 500;
}
.menu-carte__conteneur--delice h4 {
  font-weight: 500;
}
.menu-carte__conteneur--delice div p:nth-child(2) {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.menu-carte__conteneur--delice div p:nth-child(1) {
  margin: 0 0 10px 0;
  padding: 0;
}
.menu-carte__conteneur--palette {
  color: black;
}
.menu-carte__conteneur--palette div p:nth-child(1) {
  margin-top: 0;
}
.menu-carte__conteneur--palette div p:nth-child(2) {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .menu-carte__conteneur--palette div p:nth-child(1) {
    margin-top: 10px;
  }
  .menu-carte__conteneur--palette div p:nth-child(2) {
    margin-top: 10px;
  }
}

.plat-liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.plat-liste div {
  font-size: 1.1em;
  width: 100%;
}
.plat-liste--chic {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 600px) {
  .plat-liste--chic {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.plat-liste--delice {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 600px) {
  .plat-liste--delice {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.plat-liste--palette {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 600px) {
  .plat-liste--palette {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu-dessert_conteneur--chic {
  color: #8f5afe;
}

.menu-plat_conteneur--chic {
  color: #a56798;
}

.menu-carte__plat {
  align-items: center;
  margin-bottom: 20px;
}
.menu-carte__plat h4 {
  width: 100%;
}
.menu-carte__plat img {
  width: 30%;
  margin-top: 32px;
}
.menu-carte__plat--note {
  margin: 20px 0 10px 0;
}

.enseigne-footer {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  font-weight: 200;
}
.enseigne-footer--note {
  font-family: "devonshire";
  background: -webkit-linear-gradient(0deg, #3d1318, #3d1318);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enseigne-footer--chic {
  font-family: "croissant";
  background: -webkit-linear-gradient(290deg, #c67411, #8f5afe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enseigne-footer--delice {
  font-family: "dancing";
  background: -webkit-linear-gradient(0deg, #0128dd, #5caefa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enseigne-footer--palette {
  font-family: "kaushan";
  background: -webkit-linear-gradient(0deg, #3d9239, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enseigne-footer img {
  margin: 1em 10px 0 0;
  height: 50px;
}
.enseigne-footer h3 {
  margin-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
