@mixin shadow{
    box-shadow: 0 0 10px #c8c8c8;
}

@mixin gradient ($enseignes) {
    @each $enseigne, $item in $enseignes{
        &--#{enseigne}{
            background: -webkit-linear-gradient(map-get($item, gradient__angle), map-get($item, color__texte1), map-get($item, color__texte2));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@mixin carte ($enseignes) {
    @each $enseigne, $item in $enseignes{
        &--#{$enseigne}{
        background-color: map-get($item, color__fond);
        }
    }
}

@mixin titre ($enseignes) {
    @each $enseigne, $item in $enseignes{
        &--#{$enseigne}{
        font-family: map-get($item, font__titre);
        background: -webkit-linear-gradient(map-get($item, gradient__angle), map-get($item, color__texte1), map-get($item, color__texte2));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
}

@mixin texte ($enseigne) {
    @each $enseigne, $item in $enseignes{
        &--#{$enseigne}{
        font-family: map-get($item, font__texte);
        color: map-get($item, color__texte1);
        }
    }
}
    