.accueil-prev{
    margin-bottom: 10px;
}

.accueil-prev__ligne{
    display: flex;
    justify-content: space-evenly;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
    }
}

.accueil-prev__carte{
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 250px;
    height: 400px;
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
    @include carte ($enseignes);
    @include mobile-only{
        width: 90%;
    }
}

.accueil-prev__titre{
    font-size: 1.5em;       
    font-weight: 500;
    @include titre ($enseignes);
    &--chic{
        font-size: 1.2em;
    }
    
}


.accueil-prev__texte{
    @include texte ($enseignes);
    font-size: 1.7em;
    font-weight: 700;
    margin: 0px;
    &--note{
        text-transform: uppercase;
    }
    &--delice{
        color: $color__texte-menu--delice;
    }
    &--palette{
        color: $color__texte-menu--palette;
    }
}

.accueil__image--note{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
