.menu-carte__header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-carte{
    margin: 20px 5% 20px 5%;
    padding: 40px;
    footer{
        text-align: center;
    }
}

.menu-carte--menu1{
    font-family: $menu1-font__texte;
    color: $menu1-color__texte1;
    background-color: $menu1-color__fond;
    footer{
        h3{
            font-family: $menu1-font__titre;
            font-weight: 500;
            font-size: 1.5em;
        }
    }
}

.menu-carte__titre{
    h3{
        text-align: center;
        font-family: $menu1-font__titre;
        font-size: 2em;
        font-weight: 500;
        margin:0;
    }
}

.menu-carte__conteneur{
    h4{
        text-align: center;
        margin-top: 32px;
        margin-bottom: 0;
        font-size: 1.2em;
    }
    div{
        display: flex;
        justify-content: space-between;
        margin: 0;
        p:nth-child(1){
            padding-right: 20px;
            margin: 10px 0 10px 0;
        }
        p:nth-child(2){
            font-weight: bold;
            margin: 10px 0 10px 0;
        }
        
    }
    
}

.menu-carte__plat{
    align-items: center;
    h4{
        width:100%;
    }

    img{
        width: 30%;
        margin-top: 32px;
    }
}